<header>
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="brand"><a href="/">DLG</a></div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/leaderboard">Leaderboard</a>
                </li>
            </ul>
        </div>

    </nav>
</header>