.brand {
    font-size: 2.5rem;
    font-family: 'Bubblegum Sans', sans-serif;
    font-weight: 800;
    margin: 0.5rem;
    text-decoration: none;
}

.brand a {
    text-decoration: none;
    color: #ced0e9;
}

.brand a:hover {
    cursor: pointer;
    color: #dedff0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5865F2;
    position: fixed;
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.nav-links li{
    font-family: 'Bubblegum Sans', sans-serif;
    list-style-type: none;
    color: rgb(231, 231, 233);
    font-size: 1.5rem;
}

.nav-links li a{
    text-decoration: none;
    color: rgb(231, 231, 233);
}

.nav-links li a:hover{
    cursor: pointer;
    text-decoration: underline;
}